---
- name: Install required packages
  loop:
    - unzip
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  tags:
    - kubeone

- name: Create install directory
  ansible.builtin.file:
    path: "{{ kubeone_install_path }}"
    owner: root
    group: root
    mode: u=rwx,g=rx,o=rx
    state: directory
  tags:
    - kubeone

- name: Install kubeone release
  ansible.builtin.unarchive:
    src: "{{ kubeone_release_download }}"
    dest: "{{ kubeone_install_path }}"
    include:
      - kubeone
    remote_src: true
    owner: root
    group: root
  tags:
    - kubeone

- name: Symlink kubeone executable
  ansible.builtin.file:
    src: "{{ kubeone_install_path }}/kubeone"
    dest: "/usr/bin/kubeone-{{ kubeone_release_version }}"
    owner: root
    group: root
    state: link
  tags:
    - kubeone

- name: Fact addons path
  ansible.builtin.set_fact:
    kubeone_addons_path: "{{ kubeone_config_path | dirname }}/addons"
  tags:
    - kubeone

- name: Create addons directory
  ansible.builtin.file:
    path: "{{ kubeone_addons_path }}"
    recurse: true
    owner: root
    group: root
    mode: u=rwx,g=,o=
    state: directory
  tags:
    - kubeone

- name: Create addon directory
  loop: "{{ kubeone_addons_general + kubeone_addons_extra }}"
  loop_control:
    label: "{{ item.name }}"
  when: item.state | default("present") == "present"
  ansible.builtin.file:
    path: "{{ item.path | default(kubeone_addons_path) }}/{{ item.name }}"
    owner: root
    group: root
    mode: o=rwx,g=,o=
    state: directory
  tags:
    - kubeone

- name: Addon from url
  loop: "{{ kubeone_addons_general + kubeone_addons_extra }}"
  loop_control:
    label: "{{ item.name }}"
  when: item.url | default(false) and item.state | default("present") == "present"
  ansible.builtin.get_url:
    url: "{{ item.url }}"
    dest: "{{ item.path | default(kubeone_addons_path) }}/{{ item.name }}/{{ item.file | default(item.name) }}.yml"
    owner: root
    group: root
    mode: o=rw,g=,o=
  tags:
    - kubeone

- name: Addon from content
  loop: "{{ kubeone_addons_general + kubeone_addons_extra }}"
  loop_control:
    label: "{{ item.name }}"
  when: item.content | default(false) and item.state | default("present") == "present"
  ansible.builtin.copy:
    content: "{{ item.content }}"
    dest: "{{ item.path | default(kubeone_addons_path) }}/{{ item.name }}/{{ item.file | default(item.name) }}.yml"
    owner: root
    group: root
    mode: o=rw,g=,o=
  tags:
    - kubeone

- name: Addon from file
  loop: "{{ kubeone_addons_general + kubeone_addons_extra }}"
  loop_control:
    label: "{{ item.name }}"
  when: item.src | default(false) and item.state | default("present") == "present"
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.path | default(kubeone_addons_path) }}/{{ item.name }}/{{ item.file | default(item.name) }}.yml"
    owner: root
    group: root
    mode: o=rw,g=,o=
  tags:
    - kubeone

- name: Addon from template
  loop: "{{ kubeone_addons_general + kubeone_addons_extra }}"
  loop_control:
    label: "{{ item.name }}"
  when: item.template | default(false) and item.state | default("present") == "present"
  ansible.builtin.template:
    src: "{{ item.template }}"
    dest: "{{ item.path | default(kubeone_addons_path) }}/{{ item.name }}/{{ item.file | default(item.name) }}.yml"
    owner: root
    group: root
    mode: o=rw,g=,o=
  tags:
    - kubeone

- name: Delete defined addon
  loop: "{{ kubeone_addons_general + kubeone_addons_extra }}"
  loop_control:
    label: "{{ item.name }}"
  when: item.state | default("present") == "absent"
  ansible.builtin.file:
    path: "{{ item.path | default(kubeone_addons_path) }}/{{ item.name }}"
    state: absent
  tags:
    - kubeone

- name: Create config directory
  ansible.builtin.file:
    path: "{{ kubeone_config_path | dirname }}"
    recurse: true
    owner: root
    group: root
    mode: u=rwX,g=,o=
    state: directory
  tags:
    - kubeone

- name: Create logging directory
  ansible.builtin.file:
    path: "{{ kubeone_log_path | dirname }}"
    recurse: true
    owner: root
    group: root
    mode: u=rwX,g=,o=
    state: directory
  tags:
    - kubeone

- name: Write cluster config
  register: kubeone_config_file
  ansible.builtin.copy:
    content: "{{ kubeone_config_content | from_yaml | to_nice_yaml(indent=2) }}"
    dest: "{{ kubeone_config_path }}"
    owner: root
    group: root
    mode: u=rw,g=,o=
  tags:
    - kubeone

- name: Apply cluster config
  when: kubeone_force_apply or kubeone_config_file.changed
  environment: "{{ kubeone_environment_variables }}"
  ansible.builtin.shell:
    cmd: |
      kubeone-{{ kubeone_release_version }} \
         --verbose --manifest {{ kubeone_config_path }} \
        apply \
      {% if kubeone_upgrade_machine_deployments %}
        --upgrade-machine-deployments \
      {% endif %}
      {% if kubeone_force_install %}
        --force-install \
      {% endif %}
      {% if kubeone_force_upgrade %}
        --force-upgrade \
      {% endif %}
      {% if kubeone_rotate_encryption_key %}
        --rotate-encryption-key \
      {% endif %}
        --auto-approve 2>&1 | tee -a {{ kubeone_log_path }}
    chdir: "{{ kubeone_config_path | dirname }}"
  tags:
    - kubeone
    - skip_ansible_later

- name: Document kubeone version
  when: kubeone_force_apply or kubeone_config_file.changed
  ansible.builtin.copy:
    content: "{{ kubeone_release_version }}"
    dest: "{{ kubeone_config_path | dirname }}/version.txt"
    owner: root
    group: root
    mode: u=rw,g=rw,o=
  tags:
    - kubeone
    - skip_ansible_later

...
